<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common-layout.html :: header}">
    <title>Contact History</title>
</head>
<body>
<header>
    <nav th:replace="~{admin/fragments/admin-nav.html :: navbar}"></nav>
</header>
<main>
    <div class="contact-container container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Timestamp</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contact: ${history}">
                <td th:text="${contact.creationTimestamp}"></td>
                <td th:text="${contact.fullName}"></td>
                <td th:text="${contact.email}"></td>
                <td th:text="${contact.messageBody}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>