<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<h5 class="section-heading text-center" th:text="${#dates.format(startDate, 'yyyy/MM/dd') + ' to ' + #dates.format(endDate, 'yyyy/MM/dd')}"></h5>

<div class="container center">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
                <tr th:each="contact : ${history}">
                    <td th:text="${contact.creationTimestamp + ' CT'}"></td>
                    <td th:text="${contact.fullName}"></td>
                    <td th:text="${contact.email}"></td>
                    <td th:text="${contact.messageBody}"></td>
                </tr>
        </tbody>
    </table>
</div>

<div th:hx-get="${'/admin/contacts?page=' + nextPage}" hx-trigger="revealed"
     hx-swap="afterend" class="d-no">
    .
</div>

