<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <p>
        My interest in programming developed during my Junior year studying Physics at the University of Illinois at Urbana-Champaign.
        Software development has certain parallels with solving Physics problems -
        analysis of complex systems, deductive reasoning, creativity and a mix between abstract and practical.
        The field of software development continues to amaze me with both the breadth of the technology landscape
        and the depth of its most difficult problems.
    </p>
    <p>
        There is a short summary of my skills and interests below.
    </p>
</div>

</body>
</html>