<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<p th:fragment="content">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec leo quis risus venenatis consectetur at sit amet velit. Sed sed iaculis quam, pharetra maximus nibh. Cras ultrices tristique ipsum, et vestibulum neque pretium et. Vivamus ultricies nisi id dictum ultricies. Proin vel scelerisque odio. Pellentesque accumsan arcu sed lacus sagittis molestie. Donec sit amet pharetra enim, non tristique lacus. Maecenas elementum orci diam, sed blandit nisi viverra vel. Quisque sagittis ornare tortor vel faucibus. Curabitur sit amet consequat erat, vitae blandit nisi. Duis sed volutpat nisl, id auctor dui. Cras auctor, enim et posuere ultricies, ante enim convallis nulla, vitae porttitor magna diam nec justo. Mauris sed sagittis ipsum. Nullam placerat sem sed massa rutrum consectetur non nec nisl.

    Morbi ipsum  justo justo, dictum rutrum augue tempus ac. Donec elementum mollis lectus, sed tempor massa interdum porta. Phasellus ac nisl iaculis, vehicula erat sit amet, semper magna. Integer rutrum, magna eu congue vestibulum, libero lorem malesuada metus, non sollicitudin lorem mauris a sapien. In quis mattis mi. Donec arcu mauris, aliquam sit amet egestas a, tincidunt vitae ex. Donec vulputate pulvinar neque, non sagittis dolor pulvinar vel. Integer maximus ac diam vitae pretium. Vestibulum at felis facilisis, ultricies mi vel, auctor tellus. Donec aliquet non massa condimentum ornare. Curabitur ut eros iaculis, vehicula mauris ut, vestibulum nisi.
</p>
</body>
</html>