<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">

        <div class="container overflow-hidden">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>Lessons Learned While Building This Website</h5>
                        <p>Some  afelflwekfwefwefwefk weflwejf wfjwejfkwefj wjkfwej fwkjejwe fkjwefjkwefjk
                            fewfjkwekjfwejk fwjkef wejkf wejkf wefkjewf wejkf ejkwfjwe
                            fwejkfwejkfwejkfjk wejkf ewfjkwe fwekjfwe
                        </p>
                        <ul>
                            <li>abc</li>
                            <li>324234</li>
                            <li>vwef</li>
                            <li>354234</li>
                            <li>423423354234</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>Lessons Learned While Building This Website</h5>
                        <p>Some  afelflwekfwefwefwefk weflwejf wfjwejfkwefj wjkfwej fwkjejwe fkjwefjkwefjk
                            fewfjkwekjfwejk fwjkef wejkf wejkf wefkjewf wejkf ejkwfjwe
                            fwejkfwejkfwejkfjk wejkf ewfjkwe fwekjfwe
                        </p>
                        <ul>
                            <li>abc</li>
                            <li>324234</li>
                            <li>vwef</li>
                            <li>354234</li>
                            <li>423423354234</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>Lessons Learned While Building This Website</h5>
                        <p>Some  afelflwekfwefwefwefk weflwejf wfjwejfkwefj wjkfwej fwkjejwe fkjwefjkwefjk
                            fewfjkwekjfwejk fwjkef wejkf wejkf wefkjewf wejkf ejkwfjwe
                            fwejkfwejkfwejkfjk wejkf ewfjkwe fwekjfwe
                        </p>
                        <ul>
                            <li>abc</li>
                            <li>324234</li>
                            <li>vwef</li>
                            <li>354234</li>
                            <li>423423354234</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>Lessons Learned While Building This Website</h5>
                        <p>Some  afelflwekfwefwefwefk weflwejf wfjwejfkwefj wjkfwej fwkjejwe fkjwefjkwefjk
                            fewfjkwekjfwejk fwjkef wejkf wejkf wefkjewf wejkf ejkwfjwe
                            fwejkfwejkfwejkfjk wejkf ewfjkwe fwekjfwe
                        </p>
                        <ul>
                            <li>abc</li>
                            <li>324234</li>
                            <li>vwef</li>
                            <li>354234</li>
                            <li>423423354234</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>