<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="lessoncard card my-5" th:fragment="card(lesson)">
    <div class="card-header" th:text="${lesson.category}"></div>
    <div class="card-body">
        <h5 class="card-title" th:text="${lesson.title}"></h5>
        <p class="small text-muted">
            by
            <span th:text="${lesson.author}"></span>
            <span th:text="${lesson.creationTimestamp + ' CT'}"></span>
        </p>
        <p class="card-text" th:text="${lesson.description}"></p>
        <a class="btn btn-primary"
           th:hx-get="${'/admin/learning/update-form/' + lesson.creationTimestampMillis}"
           hx-swap="outerHTML" hx-trigger="click" hx-target="closest .lessoncard">
            Update
        </a>
    </div>
</div>