<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<div class="lessoncard card my-5" th:fragment="card(lesson)">
    <div class="card-header" th:text="${lesson.category}"></div>
    <div class="card-body">
        <h5 class="card-title" th:text="${lesson.title}"></h5>
        <p class="small text-muted">
            Created by
            <span th:text="${lesson.author}"></span>
            at
            <span th:text="${lesson.creationTimestamp + ' CT'}"></span>
        </p>
        <p class="card-text"><span th:utext="${lesson.parsedDescription}"></span></p>
        <a class="btn btn-primary"
           sec:authorize="hasAuthority('ADMIN')"
           th:hx-get="${'/admin/learning/update-form/' + lesson.id}"
           hx-swap="outerHTML" hx-trigger="click" hx-target="closest .lessoncard">
            Update
        </a>
        <a class="btn btn-primary"
           sec:authorize="hasAuthority('ADMIN')"
           th:hx-delete="${'/admin/learning/' + lesson.id}"
           th:hx-confirm="${'Are you sure you want to delete &quot;' + lesson.title + '&quot;?'}"
           hx-swap="delete" hx-trigger="click" hx-target="closest .lessoncard">
            Delete
        </a>
    </div>
</div>
