.nav-link:not(.active) {
    color: $white !important;
}
.nav-link.active {
    color: $gray-100 !important;
}


main {
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 55px;
}
.section-heading:not(#welcome) {
    margin-top: 100px;
}
.contact-container {
    margin-top: 250px;
}
.scrolling-anchor {
    margin-bottom: 30px;
    font-size: 0;
}

.social {
    height: 26px;
    width: 26px;
    margin: 8px;
}

.bg-dark .nav-link {
    color: white !important;
}

[data-loading] {
  display: none;
}

#login-container {
    margin-top: 150px;
}