<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common-layout.html :: header}">
    <title>Michael Fedirko Portfolio</title>
</head>
<body>
    <header>
        <nav id="navbar-top" class="navbar navbar-dark fixed-top bg-dark px-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="#welcome">Michael Fedirko</a>
                <a id="view-resume" class="btn btn-outline-success offset-md-2" target="_blank" href="/docs/Michael_Fedirko_Resume.pdf">Resume</a>

                <ul class="nav nav-pills">
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#interests">Interests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="https://github.com/mfedirko/michael-website-portfolio" target="_blank">
                            <img class="social" id="github-logo" alt="Github" src="/images/github-mark-white.svg"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/michael-fedirko-80a22377/" target="_blank">
                            <img class="social" id="linkedin-logo" alt="LinkedIn" src="/images/In-White-26.png"/>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div data-bs-spy="scroll" data-bs-target="#navbar-top"
                data-bs-method="auto" data-bs-offset="0" class="scrollspy" tabindex="0">
            <div id="welcome" class="scrolling-anchor">.</div>
            <div id="welcomeContent" th:insert="~{fragments/welcome.html :: content}"></div>

            <div id="about" class="scrolling-anchor">.</div>
            <h4 id="aboutHeading" class="section-heading">About Me</h4>
            <div id="aboutContent" th:insert="~{fragments/about.html :: content}"></div>

            <div id="skills" class="scrolling-anchor">.</div>
            <h4 id="skillsHeading" class="section-heading">Skills</h4>
            <div id="skillsContent" th:insert="~{fragments/skills.html :: content}"></div>

            <div id="interests" class="scrolling-anchor">.</div>
            <h4 id="interestsHeading" class="section-heading">Interests</h4>
            <div id="interestsContent" th:insert="~{fragments/interests.html :: content}"></div>

            <div id="contact" class="scrolling-anchor">.</div>
            <h4 id="contactHeading" class="section-heading">Contact Me</h4>
            <div id="messageContent" th:insert="~{fragments/contactme.html :: message-form}"></div>
        </div>
    </main>
</body>
</html>