<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common-layout.html :: header}">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="nav nav-tabs">
            <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#message" href="#">Message</a>
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#test" href="#">Test</a>
        </nav>
    </header>
    <main>
        <br />
        <div class="tab-content">
            <div class="tab-pane fade show active" id="message" role="tabpanel" th:insert="~{fragments/message.html :: message-form}"></div>
            <div class="tab-pane fade" id="test" role="tabpanel" th:insert="~{fragments/message.html :: test}"></div>
        </div>
    </main>
</body>
</html>