<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common-layout.html :: header}">
    <title>Michael Fedirko Portfolio</title>
</head>
<body hx-ext="loading-states">
    <header>
        <nav th:replace="~{fragments/common-layout.html :: navbar}"></nav>
    </header>
    <main>
        <div data-bs-spy="scroll" data-bs-target="#navbar-top"
                data-bs-smooth-scroll="true"
                data-bs-root-margin="0px 0px -250px" class="scrollspy" tabindex="0">
            <div id="welcome" class="scrolling-anchor">.</div>
            <div id="welcomeContent" th:insert="~{fragments/welcome.html :: content}"></div>

            <div id="about" class="scrolling-anchor">.</div>
            <h4 id="aboutHeading" class="section-heading">About Me</h4>
            <div id="aboutContent" th:insert="~{fragments/about.html :: content}"></div>

            <div id="skills" class="scrolling-anchor">.</div>
            <h4 id="skillsHeading" class="section-heading">Skills</h4>
            <div id="skillsContent" th:insert="~{fragments/skills.html :: content}"></div>

            <div id="interests" class="scrolling-anchor">.</div>
            <h4 id="interestsHeading" class="section-heading">Interests</h4>
            <div id="interestsContent" th:insert="~{fragments/interests.html :: content}"></div>

            <div id="learning" class="scrolling-anchor">.</div>
            <h4 id="learningHeading" class="section-heading">Learning</h4>
            <div id="learningContent"
                 hx-get="/learning?page=1" hx-swap="outerHTML" hx-target="this" hx-trigger="load">
                <th:block th:insert="~{fragments/loading-message.html :: message}"></th:block>
            </div>

            <div id="contact" class="scrolling-anchor">.</div>
            <h4 id="contactHeading" class="section-heading">Contact Me</h4>
            <div id="contactContent"
                 hx-get="/contact" hx-swap="outerHTML" hx-target="this" hx-trigger="load">
                <th:block th:insert="~{fragments/loading-message.html :: message}"></th:block>
            </div>
        </div>
    </main>
    <footer th:replace="~{fragments/common-layout.html :: footer}"></footer>
</body>
</html>