<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<div class="container overflow-hidden">
    <a class="btn btn-primary"
       th:if="${nextPage == 2}"
        sec:authorize="hasAuthority('ADMIN')"
        hx-get="/admin/learning/create-form" hx-swap="afterend" hx-target="this">
        Create New
    </a>
    <th:block th:each="lesson : ${lessons}" th:insert="~{fragments/lesson-card.html :: card(${lesson})}"></th:block>
    <p th:if="${lessons?.empty && nextPage == 2}">No data was found.</p>
</div>

<a th:if="${!lessons?.empty}" class="link-underline-primary" th:hx-get="${'/learning?page=' + nextPage}"
   hx-swap="outerHTML" hx-target="this" hx-trigger="click">
    View More
</a>
