<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container overflow-hidden">
    <a class="my-5 btn btn-primary"
        hx-get="/admin/learning/create-form" hx-swap="outerHTML" hx-target="this">
        Create New
    </a>
    <th:block th:each="lesson : ${lessons}" th:insert="~{fragments/lesson-card.html :: card(${lesson})}"></th:block>
</div>

<a th:if="${!lessons?.empty}" class="link-underline-primary" th:hx-get="${'/learning?page=' + nextPage}"
   hx-swap="outerHTML" hx-target="this" hx-trigger="click">
    View More
</a>
