<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/common-layout.html :: header}">
    <title>OAuth2 Login</title>
</head>
<body>
<header>
    <nav th:replace="~{fragments/common-layout.html :: navbar}"></nav>
</header>
<main>
    <div id="login-container" class="section-heading d-flex align-items-center justify-content-center">
        <div>
            <h4>Please log in to continue</h4>
            <div th:each="provider : ${providers}">
                <a class="btn btn-dark my-3"
                   th:href="${'/oauth2/authorization/' + provider}"
                   th:text="${'Login with ' + provider}"></a>
            </div>
        </div>
    </div>
</main>
</body>
</html>